.icon-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;

    &:focus {
        outline: white dotted 3px;
    }

    figure {
        cursor: pointer;

        &:active {
            transform: translateY(0.1rem);
        }
    }

    .is-inactive {
        border-radius: 50%;
        transition: border-radius 0.15s;
    }

    .is-active,
    .is-inactive:hover {
        border-radius: 33%;
    }
}
